<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<!-- <SMTP name="Mail" subject="KN API"
			to=""
			from="knadapter@farrow.com" smtpHost="smtp.farrow.com"
			smtpPassword="welcome" smtpProtocol="smtp" smtpPort="25" bufferSize="1">
		</SMTP> -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} () - %msg%n" />
		</Console>
		<RollingRandomAccessFile name="RollingRandomAccessFile"
			fileName="${sys:user.home}/logs/farrow_knadapter_logs/farrow_knadapter.log"
			filePattern="${sys:user.home}/logs/farrow_knadapter_logs/$${date:yyyy-MM}/farrow_knadapter-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d %p %c{1.}:%L [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="30MB" />
			</Policies>
            <DefaultRolloverStrategy max="100">
				<Delete basePath="${sys:user.home}/logs/farrow_knadapter_logs/" maxDepth="10">
					<!-- Delete all files older than 30 days -->
					<IfLastModified age="90d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingRandomAccessFile>
		<JDBC name="ErrorLogTable" tableName="ERRORLOG">
			<DriverManager 
				connectionString="jdbc:as400://rafdev.farrow.internal;naming=system;libraries=DEVRAFWWW" 
				username="webuser" 
				password="syber"
				driverClassName="com.ibm.as400.access.AS400JDBCDriver"
			/>
			<Column name="ERROR" pattern="%ex" />
			<Column name="ERRORTYPE" pattern="%rEx{1}" />
			<Column name="ERRORMESSAGE" pattern="%message" />
			<Column name="MODULE" pattern="KN Middleware" /> <!-- Module that produces the logs -->
			<Column name="MODULEURI" pattern="%c.java:%L" />
			<Column name="USERID" literal="'KNMIDDLEWARE'" />
			<Column name="LOG_CREATED" isEventTimestamp="true" />
		</JDBC>
	</Appenders>
	<Loggers>
		<Logger name="com.farrow" level="INFO" additivity="false">
			<!-- <AppenderRef ref="Mail" level="ERROR" /> -->
			<AppenderRef ref="ErrorLogTable" level="ERROR" />	
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingRandomAccessFile"/> 		 
		</Logger>
		<Logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
			<!-- <AppenderRef ref="Console" /> -->		 
		</Logger>
		<Root level="INFO">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingRandomAccessFile" />
		</Root>

	</Loggers>
</Configuration>
